@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <h1 class="header">Film Library</h1>
            @*<a href="https://github.com/dom-io" target="_blank"><img class="git-link" src="/Icon/github-mark.png" /></a>*@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <div class="footer">
        Copyright © 2023 dom-io <a href="https://github.com/dom-io" target="_blank"><img class="git-link-footer" src="/Icon/github-mark.png" /></a>
    </div>
</div>
