@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, </h1>

<p>Welcome to your personal film library!</p>

<p>The <b>My List</b> tab will take you to your personal library where you can keep track of movies you have seen and add new ones to your list.</p>

<p>The <b>IMDB List</b> tab will show you the top 250 movies on IMDB. You will be able to add any of these movies to your personal list!</p>


<h2>Most Recent Movies</h2>


 <table>
        <thead>
            <tr>
                <th>Poster</th>
                <th>Title</th>
                <th>Director</th>
                <th>Release Year</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img class="poster" src="Posters/jaws.png" /></td>
                <td class="title">Jaws</td>
                <td class="director">Steven Spielberg</td>
                <td class="year">1975</td>
            </tr>
            <tr>
                <td><img class="poster" src="Posters/jaws.png" /></td>
                <td class="title">Jaws</td>
                <td class="director">Steven Spielberg</td>
                <td class="year">1975</td>
            </tr>
            <tr>
                <td><img class="poster" src="Posters/jaws.png" /></td>
                <td class="title">Jaws</td>
                <td class="director">Steven Spielberg</td>
                <td class="year">1975</td>
            </tr>
            <tr>
                <td><img class="poster" src="Posters/jaws.png" /></td>
                <td class="title">Jaws</td>
                <td class="director">Steven Spielberg</td>
                <td class="year">1975</td>
            </tr>
            <tr>
                <td><img class="poster" src="Posters/jaws.png" /></td>
                <td class="title">Jaws</td>
                <td class="director">Steven Spielberg</td>
                <td class="year">1975</td>
            </tr>
        </tbody>
    </table>

