@page "/mylist"
@using FilmLibrary.Client.Services;
@inject IMovieService MovieService
@inject NavigationManager NavigationManager

<h1>My List</h1>



 <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Director</th>
                <th>Release Year</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var movie in MovieService.Movies)
        {
            <tr>
                <td><img class="poster" src="Posters/jaws.png" /></td>
                <td class="title">@movie.Title</td>
                <td class="director">@movie.Director</td>
                <td class="year">@movie.ReleaseYear</td>
                <td>@movie.UserId</td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => ShowMovie(movie.Id))"><i class="oi oi-pencil"></i></button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="CreateNewMovie">Add New Movie</button>

@code {
    protected async Task OnIntializedAsync()
    {
        await MovieService.GetMovies();
    }

    void ShowMovie(int id)
    {
        NavigationManager.NavigateTo($"movie/{id}");
    }

    void CreateNewMovie()
    {
        NavigationManager.NavigateTo("/movie");
    }
}
